body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    text-align: center;
    font-family: 'Lato', 'sans-serif';
    font-weight: 400;
}

header {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
}

nav {
    background-color: #444;
    padding: 2em;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 1em;
    text-decoration: none;
}

.heritage-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.heritage-list img {
    max-width: 6 100%;
    height: auto;
    padding-left: 30px;
    border-radius: 20px;
}

.site-description {
    max-width: 800px;
    margin: auto;
    padding: 1em;
}

.booking-form {
    max-width: 800px;
    margin: auto;
    padding: 1em;
}

.image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1em;
    padding: 1em;
}

.button {
    background-color: lightslategray;
    border: 20px;
    color: blue;
    padding: 10px 0;
    float: right;
    &:hover {
        background-color: lighten($brand-color, 5%);
    }
}

label {
    position: absolute;
    width: 60%;
    font-size: 16px;
    display: inline-block;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 1);
}

select,
textarea,
input {
    padding: 12px;
    font-size: 14px;
    border: 1px solid $border;
    width: 20%;
    margin-bottom: 18px;
    color: #888;
    font-family: 'Lato', 'sans-serif';
    font-size: 16px;
    font-weight: 300;
}

p {
    position: relative;
}